html {
	height: 100%;
	width: 100%;
	margin: 0;
}

#cameraBody {
	background-color: #1E1E1E;
	height: 100%
}

#cameraScreen {
	display: inline-block;
	height: 50.25rem;
	width: 75rem;
	background-color: #6A6A6A;
	margin: 3rem;
	overflow: auto;
}

.album {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.picture {
	height: 30%;
	width: 30%;
	margin-bottom: 1rem;
	border: .2rem solid #000000;
}

.picture:hover {
	border: .2rem solid #FFFFFF;
}

.expandedPicture {
	height: 71%;
	width: 60%;
	position: absolute;
	left: 5rem;
	bottom: 10rem;
	border: .2rem solid #000000;
}

.expandedPicture:hover {
	border: .2rem solid #FFFFFF;
}

#cameraRadial {
	display: inline-block;
	position: absolute;
	top: 25rem;
	right: 12rem;
}

#wheelDiv {
	height: 22.5rem;
	width: 22.5rem;
}

#wheelDiv svg {
	height: 100%;
	width: 114%;
}

[class|=wheelnav-wheelDiv] {
    fill: #000000;
}

[class|=wheelnav-wheelDiv-title] {
    fill: #FFFFFF;
    cursor: pointer;
}

[class|=wheelnav-wheelDiv-title] > tspan {
    font-size: 1.5rem;
}

.wheelnav-wheelDiv-marker {
	stroke: #FFFFFF;
	stroke-width: .3125rem;
}
