/* general */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	overflow: hidden;
}

#cameraBody {
	background-color: #1E1E1E;
	width: 100%;
	height: 100%;
	position: absolute;
}

#cameraScreen {
	width: 60%;
	min-height: 75%;
	background-color: #6A6A6A;
	overflow: hidden;
	/* overflow: auto; If more images will be displayed */
	display: inline-block;
	position: relative;
	top: 5%;
	left: 2%;
}

#content {
	position: relative;
}

/* photo view */

.album {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.picture {
	width: 30%;
	height: 30%;
	border: .2rem solid #000000;
	margin-bottom: 3%;
}

.picture:hover {
	border: .2rem solid #FFFFFF;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: #6A6A6A;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.expandedPicture {
	width: 75%;
	border: .2rem solid #000000;
	position: relative;
	top: 0;
}

.expandedPicture:hover {
	border: .2rem solid #FFFFFF;
}

/* contact view */

#contactForm {
	position: relative;
}

#contactForm input, textarea{
	padding: 2%;
	margin-bottom: 2%
}

input:nth-child(-n+2) {
	width: 49.8%;
}

input[type=email], input:nth-child(4), textarea {
	width: 100%;
}

input[type=submit] {
	cursor: pointer;
	border-radius: 50%;
	position: relative;
	left: 45%;
}

/* wheelnav */

#wheelDiv {
	width: 300px;
	height: 300px;
	margin: auto;
	position: relative;
	left: 10%;
	display: inline-block;
}

#wheelDiv svg {
	width: 100%;
	height: 100%;
}

@media (max-width: 1000px) { 
	#wheelDiv {
		height: 200px;
		width: 200px;
	}
}

@media (max-width: 700px) { 
	#wheelDiv {
		height: 150px;
		width: 150px;
	}
}

@media (max-width: 500px) { 
	#wheelDiv {
		height: 100px;
		width: 100px;
	}
}

[class|=wheelnav-wheelDiv] {
    fill: #000000;
}

[class|=wheelnav-wheelDiv-title] {
    fill: #FFFFFF;
    cursor: pointer;
}

[class|=wheelnav-wheelDiv-title] > tspan {
    font-size: 150%;
}

.wheelnav-wheelDiv-marker {
	stroke: #FFFFFF;
	stroke-width: 4;
}

/* footer */

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #FFFFFF;
}
