<!DOCTYPE html>
<header>
	<h1>Contact</h1>
</header>
<article id="content">
	<form id="contactForm" action="model/contact.php" method="post">
		<input type="text" name="firstName" placeholder="First name">
		<input type="text" name="lastName" placeholder="Last name">
		<input type="email" name="email" placeholder="Your email">
		<input type="text" name="subject" placeholder="Subject">
		<textarea name="message" placeholder="Message" rows="10"></textarea>
		<input type="submit" value="Send">
	</form>
</article>