<!DOCTYPE html>
<header>
	<h1>Photo</h1>
</header>
<article id="content">
	<div class="album">
		<img class="picture" src="content/raindrops on grass webV.jpg" alt="raindrops on grass" onclick="maximize_image('content/raindrops on grass webV.jpg', 'raindrops on grass');">
		<img class="picture" src="content/sunflower and manhattan webV.jpg" alt="sunflower and manhattan" onclick="maximize_image('content/sunflower and manhattan webV.jpg', 'sunflower and manhattan');">
		<img class="picture" src="content/tree in night exposure webV.jpg" alt="tree in night exposure" onclick="maximize_image('content/tree in night exposure webV.jpg', 'tree in night exposure');">
		<img class="picture" src="content/Wildwood beach pier silhouette webV.jpg" alt="Wildwood beach pier silhouette" onclick="maximize_image('content/Wildwood beach pier silhouette webV.jpg', 'Wildwood beach pier silhouette');">
		<img class="picture" src="content/bee on flower webV.jpg" alt="bee on flower" onclick="maximize_image('content/bee on flower webV.jpg', 'bee on flower');">
		<img class="picture" src="content/rainbow umbrellas webV.jpg" alt="rainbow umbrellas" onclick="maximize_image('content/rainbow umbrellas webV.jpg', 'rainbow umbrellas');">
	</div>
</article>